.header {
  background-color: #242830;
  margin: 0;
  min-width: 100vw;
  width: 100%;
}

.headerLink {
  text-align: center;
  padding: 1.5rem 0;
  font-size: 1.25rem;
}

.headerLink a {
  color: #fff;
  text-decoration: none;
}

.headerLink a:hover {
  color: #f1c40f;
}
